*{
    padding: 0;
    margin:0;
}
main{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(197, 176, 176);
    height: 20px;
    /* width: 100vh; */

}

.hum{
    display: flex;
    width: 30px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    height: 4px;
   transition: all .4s ease;
    cursor: pointer;
}
.navbar-links{
    color: rgb(174, 30, 30);
    display: none;
    flex-direction: column;
}
.main{
    display: flex;
    justify-content: flex-end;
    

}
.body{
    margin-top: 30px;
    display:flex;
    justify-content:center;
    overflow:hidden;
}

.navbar-linkss {
   position: fixed;
   width: 30vw;
   display: flex;
 
}
.navbar-linkss button:hover{
    background-color: rgb(162, 116, 57);
    cursor: pointer;
}
.navbar-links button{
    padding: 10px;
    background: rgb(230, 188, 188);
    border:none;
    font-size: 3vw;
}

.hum::before{
    transition: all .2s ease;
    display: flex;
    content: '';
    position: absolute;
    border-radius: 2px;
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transform: translateY(10px);
    
    }
.humopen{
    background: rgb(144, 67, 67,0);
}
.humopen::before{
transform: rotate(45deg);
}

.hum::after{
    transition: all .2s ease;
    display: flex;
    content: '';
    position: absolute;
    border-radius: 2px;
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transform: translateY(-10px);
    transform: rotate(--hry,0);
}
.humopen::after{
    transform: rotate(-45deg);
    }
    
nav ul{
    display: flex;
    flex-direction: row;
    display: none;
    color: rgb(193, 126, 44);
}
nav li {
    margin-left: 10px;
    list-style-type: none;
}
.hum_cont{
   padding: 11px 3px; 
   cursor: pointer;
}
@media screen {
    
}